
{% extends 'base.html' %}

{% block title %}Add to cart{% endblock %}

{% block content %}
<div class="container">
    {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <a href="{% url 'mycart' %}" class="btn btn-primary">Go to My Cart</a>
            </div>
            <div class="col-md-6 text-right">
                <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div></div>
</div>
{% endblock %}
