{% extends 'base.html' %}
{% load static %}

{% block title %}{{product.title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md">
        <img src="{{product.image.url}}" alt="" class="img-fluid">
    </div>
      <div class="col-md">
        <h3>Product: {{product.title}}</h3><hr>
<span>(Viewed {{product.view_count}} times)</span></span>
            <br><br>
            <p style = "text-decoration: bold; font-size: 20px;"><strike>Rs. {{product.marked_price}}</strike> Rs. {{product.selling_price}}<span style = "font-size: 15px;">/piece</span></p>
            <h5>Category: <span class="badge bg-primary">{{product.category}}</span></h5>
            <p>{{product.description}}</p>

      <hr>
      <p class="text-info">Warranty: {{product.warranty}}</p>
            <p class="text-info">Return Policy:{{product.return_policy}}</p>

      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <a href="{% url 'addtocart' product.id %}" class="btn btn-success addtocart">Add To Cart</a>
          </div>
        
        
      </div>
        </div>
      
    </div>
  </div>

{% endblock %}